
body {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold 700;
    font-style: normal;
    background-image: url('../images/ww2aibackground.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    color: white;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h1 {
    margin: 0;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold 700;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}

#alert-box, .alert {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold 700;
    background-color: red;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
}