
header nav {
    margin-top: 10px;
}

header nav .btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

header nav .btn:hover {
    background-color: #0056b3;
}

.container {
    width: 80%;
    max-width: 600px;
}

#timer {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#question-container {
    text-align: center;
}

#question {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.correct {
    background-color: #28a745;
}

.wrong {
    background-color: #dc3545;
}

#result-container {
    text-align: center;
}

#score {
    font-size: 2em;
    margin: 20px 0;
}

#next-btn {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#next-btn:hover {
    background-color: #0056b3;
}

#alert-box {
    background-color: red;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
}

#detailed-feedback p {
    font-size: 1em;
    text-align: left;
    margin: 10px 0;
}

.correct-answer {
    color: #28a745;
}

.wrong-answer {
    color: #dc3545;
}