
header nav {
    margin-top: 10px;
}

header nav .btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #FFD700;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
}

main {
    display: flex;
    width: 100%;
    max-width: 600px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
}

.container {
    color: #FFD700;
    text-align: center;
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
}

#timer {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#question-container {
    text-align: center;
}

#question {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.correct { 
    background-color: #00FF00;
}

.wrong {
    background-color: #FF0000;
}

#result-container {
    text-align: center;
}

#score {
    font-size: 2em;
    margin: 20px 0;
}

#next-btn {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FFD700;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#alert-box {
    background-color: #FF0000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
}

#detailed-feedback p {
    font-size: 1em;
    text-align: left;
    margin: 10px 0;
}

#rating-message {
    font-size: 1.2em;
    font-weight: bold;
    color: #00FF00;
    margin-top: 20px;
}

.correct-answer {
    color: #00FF00;
}

.wrong-answer {
    color: #FF0000;
}
